/* General Styles */

@font-face {
    font-family: "open_sansregular";
    src: url("../fonts/opensans-regular-webfont.woff2") format("woff2"),
         url("../fonts/opensans-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "open_sanssemibold";
    src: url("../fonts/opensans-semibold-webfont.woff2") format("woff2"),
         url("../fonts/opensans-semibold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "source_sans_probold";
    src: url("../fonts/sourcesanspro-bold-webfont.woff2") format("woff2"),
         url("../fonts/sourcesanspro-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "robotothin";
    src: url("../fonts/roboto-thin-webfont.woff2") format("woff2"),
         url("../fonts/roboto-thin-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

:root {
  /*Colors*/
  --colorMain: #212833;
  --colorPageHeadingFirst: #1a1a1a;
  --colorPageHeadingSecond: #1160ff;
  --colorSkills: #fff;
  --bgActiveNavigationLink: #0055ff;
  --bgPage: #fff;
  --bgBorderBtn: #eaeef4;
  --bgSkills: #3f4c69;

  /*Font Size*/
  --FSizeMain: 18px;
  --FSizeNavigation: 18px;
  --FSizeDownloadBtn: 16px;
  --FSizeShadowHeading: 96px;
  --FSizePageHeading: 40px;
  
  --widthMain: 1100px;

  --flex-container: {
    display: flex;
    justify-content: space-between;
  }
}

html,
body {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body,
h2,
ul,
p {
  margin: 0;
}

body {
  font: var(--FSizeMain)/1 "open_sansregular";
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

[class$="-container"] {
  max-width: var(--widthMain);
  margin: 0 auto;
  padding: 0 55px;
  @apply --flex-container;
}

/* Header */
.header-container {
  @apply --flex-container;
}

.header-logo {
  text-indent: -9999px;
  width: 22px;
  height: 16px;
  background: url("../img/bg-logo.png") no-repeat;
  & a {
    display: block;
  }
}

.navigation-list {
  display: flex;
  & li {
    margin-left: 35px;
    &:first-child {
      margin-left: 0;
    }
  }
  & a {
    color: var(--colorMain);
    font-size: var(--FSizeNavigation);
  }
}

.download-btn {
  font-size: var(--FSizeDownloadBtn);
  color: var(--colorMain);
  cursor: pointer;
  background-color: var(--bgPage);
  border: 1px solid var(--bgBorderBtn);
  padding: 8px 17px 8px 10px;
  &::before {
    content: "";
    background: url("../img/bg-download-btn.png") no-repeat;
    width: 11px;
    height: 13px;
    display: inline-block;
    margin-right: 14px;
  }
}